@media (min-width: 475px) and (max-width: 620px) {
  .content {
    margin: 0 0 32px 64px;
  }

  .content-header-text {
    font-size: 50px;
    line-height: 59px;
  }

  .content-header-line-wrapper {
    margin: 25px 0 0 24px;
    /* толщина? */
  }

  .content-text {
    font-size: 26px;
    line-height: 31px;
    color: #001833;
    margin: 15px 24px 0 0;
  }

  .projects {
    margin: 22px 0 0 0;
  }

  .project-header {
    margin: 24px 12px 0 0;
  }

  .project-image {
    width: 80px;
    height: 80px;
  }

  .project-text {
    font-size: 26px;
    line-height: 31px;
    color: #001833;
    margin: auto 0 auto 16px;
  }

  .project-about {    
    margin: 18px 0 0 -64px;
    padding: 24px 0 24px 64px;
  }

  .project-about-button {    
    margin: 0 0 18px 0;
  }

  .project-about-button-image {
    width: 80px;
    height: 80px;
  }

  .project-about-button-text {    
    font-size: 50px;
    line-height: 59px;
    margin: auto 0 auto 24px;
  }

  .project-about-text {    
    font-size: 26px;
    line-height: 31px;
    margin: 18px 24px 0 0;
  }

  .project-about-contacts {
    margin: 32px 0 0 0;
  }

  .project-about-contact-logo {
    width: 40px;
    height: 40px;
  }

  .project-about-contact:first-child {
    margin: 0 0 14px 0;
  }

  .project-about-contact-text {    
    font-size: 26px;
    line-height: 31px;
    margin: auto 0 auto 12px;
  }

  .button {    
    margin: 24px 0 0 0;
  }
  
  .button-image {
    width: 80px;
    height: 80px;
  }

  .button-text {    
    font-size: 26px;
    line-height: 31px;
    margin: auto 0 auto 24px;
  }

  .footer {
    padding: 0 0 48px 0;
  }

  .contact {
    margin: 14px 0 0 0;
  }

  .contact-logo {
    width: 40px;
    height: 40px;
  }

  .contact-text {
    font-size: 26px;
    line-height: 31px;
    margin: auto 0 auto 12px;
  }
}
