@font-face {
  font-family: 'Raleway';
  src: url('../src/fonts/raleway/Raleway-VariableFont_wght.ttf') format('opentype');
}

@font-face {
  font-family: 'Raleway-Italic';
  src: url('../src/fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('opentype');
}

body {
  background: #001833;
  overflow: auto;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  text-decoration: none;
  color: #e3e6eb;
}

a:visited {
  text-decoration: none;
  color: #e3e6eb;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.body-mask {
  width: 100vw;
  height: 1000vh;
  position: fixed;
  z-index: 1;
  background: rgba(0, 24, 51, 0.96);
}

.page-header {
  width: 100vw;
  margin: 0 0 64px 0;
}

.content {
  max-width: 100vw;
  margin: 0 0 32px 32px;
}

.content-header {
  overflow: hidden;
  display: flex;
}

.content-header-text {
  font-family: Raleway;
  font-weight: 440;
  font-size: 40px;
  line-height: 47px;
  color: #e3e6eb;
}

.content-header-line-wrapper {
  flex: 0 0 100%;
  margin: 18px 0 0 16px;
}

.content-header-line {
  color: #e3e6eb;
}

.content-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: 8px 24px 0 0;
}

.projects {
  margin: 16px 0 0 0;
}

.project {   
  display: flex;
  margin: 16px 12px 0 0;
}

.project-image {
  width: 64px;
  height: 64px;
}

.project-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: auto 0 auto 16px;
}

.project-about {
  position: absolute;
  z-index: 2;
  background: rgba(0, 24, 51);
  border-radius: 17px;
  box-shadow: 5px 1px 20px 1px;
  padding: 32px 0 64px 32px;
  margin: 0 0 0 -32px;
}

.project-about-button {
  display: flex;
  margin: 0 0 16px 0;
}

.project-about-button-image {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.project-about-button-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: auto 0 auto 16px;
  cursor: pointer;
}

.project-about-header {
  display: flex;
}

.project-about-name {
  font-family: Raleway;
  font-weight: 440;
  font-size: 40px;
  line-height: 47px;
  color: #e3e6eb;
  margin: auto 0 auto 16px;
}

.project-about-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: 16px 24px 0 0;
}

.project-about-contacts {  
  margin: 16px 0 0 0;
}

.project-about-contact {
  display: flex;
}

.project-about-contact-logo {
  width: 32px;
  height: 32px;
}

.project-about-contact:first-child {
  margin: 0 0 12px 0;
}

.project-about-contact-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: auto 0 auto 8px;
}

.button {
  display: flex;
  margin: 16px 0 0 0;
}

.button-image {
  width: 64px;
  height: 64px;
  cursor: pointer;
}

.button-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: auto 0 auto 16px;
  cursor: pointer;
}

.footer {
  margin: 0 0 64px 0;
}

.contact {
  display: flex;
  margin: 12px 0 0 0;
}

.contact-logo {
  width: 32px;
  height: 32px;
}

.contact-text {
  font-family: Raleway;
  font-weight: 410;
  font-size: 21px;
  line-height: 25px;
  color: #e3e6eb;
  margin: auto 0 auto 8px;
}

.hidden {
  visibility: hidden;
  display: none;
}